<h1>User Profile <small>: <%= @user.username %></small></h1>

<% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited your changes from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
<% end %>

<!-- Top Row -->
<div class="row"> 
	
	<!-- Avatar Column -->
	<div class="small-6 columns">
		<fieldset id="basic-info">
			<legend>Basic Information</legend>
			
			<div class="row">
				<div class="small-8 small-centered columns">
					<%= image_tag @user.avatar.url(:medium), class: "th" %>
				</div>
			</div>

		
			<div class="row">
				<div class="small-12 columns">
					<%= form_for(@user) do |f| %>
						
						<%= f.label "Upload New Avatar", class: "hide-until-edit" %>
						<%= f.file_field :avatar, class: "hide-until-edit" %>
						
						<%= f.label :username %>
						<%= f.text_field :username %>

						<%= f.label :email %>
						<%= f.email_field :email %>

						<ul class="right">
							<%= f.submit "Update", class: "button tiny hide-until-edit" %>
							<a href="#" class="activate-form button tiny">Edit</a>
						</ul>

					<% end %>
				</div>
			</div>
		</fieldset>
	</div>

	<!-- Details Column -->
	<div class="small-6 columns">
		<%= form_for(@user) do |f| %>
			<fieldset>
				<legend>My Details</legend>

				<%= f.label :first_name %>
				<%= f.text_field :first_name %>

				<%= f.label :last_name %>
				<%= f.text_field :last_name %>

				<%= f.label :street_address %>
				<%= f.text_field :street_address %>

				<%= f.label :city %>
				<%= f.text_field :city %>

				<%= f.label :province %>
				<%= f.text_field :province %>

				<%= f.label :postal_code %>
				<%= f.text_field :postal_code %>

				<%= f.label :phone_number %>
				<%= f.text_field :phone_number %>

				<ul class="right">
					<%= f.submit "Update", class: "button tiny hide-until-edit" %>
					<a href="#" class="activate-form button tiny">Edit</a>
				</ul>

			</fieldset>
		<% end %>
	</div>
</div>

<!-- Bottom Row -->
<h2>Projects I've supported</h2>
<div class="row">
	<fieldset>
		<legend>Projects still seeking funding</legend>
		<% @user.transactions.each do |transaction| %>
			<% if transaction.project.active %>
				<div class="large-2 columns">
					<%= image_tag(transaction.project.img, class: "th") %>
				</div>

				<div class="large-4 columns">
					<h4><%= link_to transaction.project.name, project_path(transaction.project) %></h4>
					<p><strong>You contributed $<%= transaction.dollar_amount %>.00 on <%= transaction.created_at.strftime("%d-%m-%Y") %></strong></p>
					<% if transaction.tier.present? %>
						<p><strong>Your reward: </strong> <%= transaction.tier.reward_text %></p>
					<% end %>
						<p><small><%= mail_to transaction.project.creator.email, "Contact the project owner" %></small></p>
				</div>
			<% end %>
		<% end %>
	</fieldset>

	<fieldset>
		<legend>Projects with met goals</legend>
		<% @user.transactions.each do |transaction| %>
			<% if !transaction.project.active %>
				<div class="large-2 columns">
					<%= image_tag(transaction.project.img, class: "th") %>
				</div>

				<div class="large-4 columns">
					<h4><%= link_to transaction.project.name, project_path(transaction.project) %></h4>
					<h5 class="subheader"><em><%= transaction.project.summary %></em></h5>
					<p><strong>You contributed $<%= transaction.dollar_amount %>.00 on <%= transaction.created_at.strftime("%d-%m-%Y") %></strong></p>
					<% if transaction.tier.present? %>
						<p><strong>Your reward: </strong> <%= transaction.tier.reward_text %></p>
					<% end %>
					<p><small><%= mail_to transaction.project.creator.email, "Contact the project owner" %></small></p>

				</div>
			<% end %>
		<% end %>
	</fieldset>

</div>
