<%= form_for @project do |p| %>
  <h1><%= p.text_area :name %> <small class="subheader">by <%= @creator.username %></h1>

  <div class="large-9 columns">

    <div class="leftcoltop leftcol">
      <div class="headerimg" style="background-image:url(<%= @project.img %>)"></div>
      <div class="goals">
        <h3 class="center round progress100">Funding Goal:<%= p.text_area :goal %></h3> 
        <%= p.submit "Save Changes", class: "button large alert contbutton" %>
      </div>
    </div>

    <div class="leftcolmid leftcol">
      <h3>Description</h3>
      <p class="text-justify"><%= p.text_area :description %></p>
    </div>

    <div class="leftcolbottom leftcol">
      <h3>Project Founder</h3>
      <p><%= @project.creator %></p>
    </div>
  </div>


  <div class="large-3 columns" id="rightcol">
    <ul id="tierlist">
      <%= render "dynamictiers", p: p %>
    </ul>
    <button id="tieradd">Add a new reward tier</button>
  </div>
<% end %>
