<%= form_for @project, html: {multipart: true} do |p| %>
  <h1><%= p.text_area :name, placeholder: "Type your project name here!" %> <small class="subheader">by <%= @creator.username %></h1>


  <div class="large-9 columns">

    <div class="leftcoltop leftcol">
       <%= p.text_area :summary, placeholder: "Type a short summary here"%>
      <div class="headerimg" style="background-image:url(<%= @project.projectpicture.url %>)"></div>
      
      <div class="goals">
        <h3 class="center round progress100">Funding Goal:<%= p.text_area :goal %></h3> 
        <%= p.submit "Save Changes", class: "button large alert contbutton" %>
      </div>
      <%= p.file_field :projectpicture %>
    </div>

    <div class="leftcolmid leftcol">
      <h3>Description</h3>
      <p class="text-justify"><%= p.text_area :description, placeholder: "Type your project description here! Be specific and reference excellent buzzwords." %></p>
    </div>

    <div class="leftcolbottom leftcol panel">
      <h3>About The Creator</h3>
      <p>
        <h5><%= @project.creator.username %> <small><%= mail_to @project.creator.email %></small></h5>
        <ul style="list-style-type:none;">
          <li><b>Projects: </b><%= @project.creator.created_projects.size %></li>
        </ul>
      </p>
    </div>
  </div>




  <div class="large-3 columns" id="rightcol">
    <ul id="tierlist">
      <%= render "dynamictiers", p: p %>
    </ul>
    <button id="tieradd">Add a new reward tier</button>
  </div>
<% end %>
