<div class="large-12">

  <ul class="orbit" data-orbit data-options="animation:slide;
                                            bullets:false;
                                            slide_number:false;
                                            timer_speed: 2000;
                                            animation_speed: 1000;
                                            next_on_click: true;
                                            variable_height: false; ">
    <% @projects.each do |project| %>
      <li class="test">
        <a href="<%= project_path(project) %>">
          <div class="orbitslide" style="background-image:url(<%= project.projectpicture.url %>)"></div>
        </a>
        <div class="orbit-caption">
          <%= project.name %>
        </div>
      </li>
    <% end %>
  </ul>


 <% @projects.each do |project| %>
  <a href="<%= project_path(project) %>">
    <div class="indexcard" style="background-image:url(<%= project.projectpicture.url %>)">
      <h3 class="indexcardtitle"><%= project.name %><h3>
      <h3 class="indexcardsummary"><%= project.summary %></h3>
    </div>
  </a>
 <% end %>

</div>

