<h1><%= @project.name %> <small class="subheader">by <%= @project.creator.username %></h1>

<div id="addfundsmodal" class="reveal-modal" data-reveal>
  <h2><small>Contribute to</small> <span style="color:#3c7df0"><%= @project.name %></span></h2>
  <%= form_for [@project, @transaction] do |t| %>
    <%= t.number_field :dollar_amount, class: "dollar_amount", placeholder: "Please enter an amount..." %>
  <% end %>
  <div class="tierselect"></div>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div class="large-9 columns">

  <div class="leftcoltop leftcol panel">
    <div class="headerimg" style="background-image:url(<%= @project.projectpicture.url %>)"></div>
    <div class="goals">
      <h3 class="center round progress100"><%= @project.percentage_raised %>% of <%= number_to_currency @project.goal.to_s, precision: 0 %></h3>
        <% if @project.percentage_raised < 100 %>
          <div class="progress round">
          <span class="meter" style="width: <%= @project.percentage_raised %>%"></span>
        <% else %>
          <div class="progress success round">
          <span class="meter win" style="width: 100%"></span>
        <% end %>
      </div>
      <p class="subheader center backtrans"><small><%= number_to_currency @project.sum_raised, precision: 0 %> from <%= pluralize @project.number_of_backers, 'backer' %><br>and <%= pluralize @project.number_of_transactions, 'transaction' %></small></p>
      <% if current_user %>
        <% if current_user.id = @project.creator.id %>
          <a href="/projects/<%=@project.id%>/edit" class="button large alert contbutton">Edit Project</a>
        <% else %>
          <a href="#" data-reveal-id="addfundsmodal" class="button large alert contbutton">Contribute</a>
        <% end %>
      <% else %>
        <a href="#" data-reveal-id="addfundsmodal" class="button large alert contbutton">Contribute</a>
      <% end %>
    </div>
  </div>

  <div class="leftcolmid leftcol panel">
    <h3>Summary</h3>
    <p class="text-justify"><%= @project.summary %></p>
    <h3>Description</h3>
    <p class="text-justify"><%= @project.description %></p>
  </div>

  <div class="leftcolbottom leftcol panel">
    <h3>About The Creator</h3>
    <p>
      <h5><%= @project.creator.username %> <small><%= mail_to @project.creator.email %></small></h5>
      <ul style="list-style-type:none;">
        <li><b>Projects: </b><%= @project.creator.created_projects.size %></li>
      </ul>
    </p>
  </div>

</div>


<div class="large-3 columns" id="rightcol">
    <% if @project.tiers.count == 0 %>

    <ul>
      <li class="tiercard">
        <h5 style="color:#ffffff">No tiers set for this project</h5>
      </li>
    </ul>

    <% else %>

      <% @project.tiers.sort { |e, b| e.threshold <=> b.threshold }.each do |tier| %>
        <% if tier.qty_remaining < 1 %>
          <ul>
            <li class="tiercard_out">
            <div class="tiernumber">
              <%= image_tag "star.png", class: "starimg" %>
              <h4 class="inline threshold nopad">$<%= tier.threshold.to_s %></h4>
            </div>
            <h5 class="remaining_none">Sold Out!</h5>
              <p class="tiertext_out"><%= tier.reward_text %></p>
            </ul>    
          <% else %>
            <ul>
            <li class="tiercard">
            <div class="tiernumber">
              <%= image_tag "star.png", class: "starimg" %>
              <h4 class="inline threshold nopad"><%= number_to_currency tier.threshold.to_s, precision: 0 %></h4>
            </div>
            <h5 class="remaining"><%= tier.qty_remaining %> remaining</h5>
            <p class="tiertext"><%= tier.reward_text %></p>
          </ul>
        <% end %>
      <% end %>
      </ul>

    <% end %>
</div>
















