<h1><%= @project.name %> <small class="subheader">by <%= @project.creator.username %></h1>

<div id="addfundsmodal" class="reveal-modal" data-reveal>
  <h2><small>Contribute to</small> <span style="color:#3c7df0"><%= @project.name %></span></h2>
  <%= form_for [@project, @transaction] do |t| %>
    <%= t.text_field :dollar_amount, class: "dollar_amount", placeholder: "Please enter an amount..." %>
  <% end %>
  <div class="tierselect"></div>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div class="large-9 columns">

  <div class="leftcoltop leftcol panel">
    <div class="headerimg" style="background-image:url(<%= @project.img %>)"></div>
    <div class="goals">
      <h3 class="center round progress100"><%= @project.percentage_raised %>% of $<%= @project.goal.to_s %></h3>
      <div class="progress round">
        <span class="meter" style="width: <%= @project.percentage_raised %>%"></span>
      </div>
      <h3 class="subheader center"><small>$<%= @project.sum_raised %> from <%= @project.number_of_backers %> backers</small></h3>
      <a href="#" data-reveal-id="addfundsmodal" class="button large alert contbutton">Contribute</a>
    </div>
  </div>

  <div class="leftcolmid leftcol panel">
    <h3>Description</h3>
    <p class="text-justify"><%= @project.description %></p>
  </div>

  <div class="leftcolbottom leftcol panel">
    <h3>Project Founder</h3>
    <p><%= @project.creator %></p>
  </div>

</div>


<div class="large-3 columns" id="rightcol">
  <ul>
    <% @project.tiers.each do |tier| %>
    <li class="tiercard">
      <div class="tiernumber">
        <%= image_tag "star.png", class: "starimg" %>
        <h4 class="inline threshold nopad">$<%= tier.threshold.to_s %></h4>
      </div>
      <h5 class="remaining"><%= tier.qty_remaining %> remaining</h5>
      <p class="tiertext"><%= tier.reward_text %></p>
    </lu>
    <% end %>
  </ul>
</div>
















