<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

  

<nav class="top-bar" data-topbar>
  
  <!-- Site Title -->
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">CrowdFunder</a></h1>
    </li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">

      <% if current_user %>
        
        <!-- Logout Button -->
        <li class="has-form">
          <%= link_to "Logout", :logout, method: :post, class: "button" %>
        </li>

      <% else %>
        
        <!-- Login Form -->
          <li class="has-form">
            <div class="row collapse">
              <div class="large-5 small-5 columns">
                <%= text_field_tag :username, nil, placeholder: "Username", id: "username-login" %>
              </div>
              <div class="large-5 small-5 columns">
                <%= password_field_tag :password, nil, placeholder: "Password", id: "password-login"%>
              </div>
              <div class="large-2 small-2 columns">
                <a href="<%= sessions_path %>" class="button expand" id="submit-login">Login</a>
              </div>
            </div>
          </li>
          <% end %>
          <li class="divider"></li>
          
          <!-- Register Button -->
          <li class="has-form">
            <%= link_to "Register", new_user_path, class: "alert button" %>
          </li>
      
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      <li><a href="#">Left Nav Button</a></li>
    </ul>
  </section>
</nav>




<nav id="authentication">
  <% if current_user %>
    <%= link_to "Edit Profile", edit_user_path(current_user.id) %>
    <%= link_to "Logout", :logout, method: :post %>
  <% else %>
    <%= link_to "Register", new_user_path %> |
    
  <% end %>
</nav>


  <div>
    <p id="notice"><%= flash[:notice] %></p>
    <p id="alert"><%= flash[:alert] %></p>
  </div>
  
  <main>
    <%= yield %>
  </main>
  
    <%= javascript_include_tag "application" %>
  </body>
</html>