<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "CrowdFunder" %></title>

    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

  <div class="contain-to-grid">
    <nav class="top-bar" data-topbar>
      
      <!-- Site Title -->
      <ul class="title-area">
        <li class="name">
          <h1><a href="<%= root_path %>">CrowdFunder</a></h1>
        </li>

        <!-- Mobile Menu Toggle -->
        <li class="toggle-topbar menu-icon">
          <a href="#">
            <span>Menu</span>
          </a>
        </li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">

          <!-- If logged in -->
          <% if current_user %>


            <!-- Edit Profile -->
            <ul class="left">
              <li>
              <a href="<%= user_path(current_user.id) %>">
              <%= image_tag current_user.avatar.url(:mini) %> &nbsp; My Profile
              </a>
              </li>
            </ul>

            <!-- new proj -->
            <a href="<%= new_project_path %>" class="button success tiny left">New Project</a>

            <!-- Logout Button -->
            <li class="has-form">
                <%= link_to "Logout", :logout, method: :post, class: "button" %>
            </li>

          <!-- If logged out or unregistered -->
          <% else %>
            
            <!-- Login Form -->
            <li class="has-form">
              <div class="row collapse">
                <%= form_tag (sessions_path), method: :post do %>
                  <div class="large-5 small-5 columns">
                    <%= text_field_tag :username, nil, placeholder: "Username" %>
                  </div>
                  <div class="large-5 small-5 columns">
                    <%= password_field_tag :password, nil, placeholder: "Password" %>
                  </div>
                  <div class="large-2 small-2 columns">
                    <%= submit_tag "Login", class: "button expand", id: "submit-login" %>
                  </div>
                <% end %>
              </div>
            </li>
            
            <!-- <li class="divider"></li> -->
            
            <!-- Register Button -->
            <li class="has-form">
              <%= link_to "Register", new_user_path, class: "alert button expand" %>
            </li>
          <% end %>
        </ul>

        <ul class="left">

        <li class="has-dropdown">
          <%= link_to "Projects", projects_path %>
          <ul class="dropdown">
            <li><%= link_to "View all Projects", projects_path %></li>
            <li><%= link_to "Create a Project", new_project_path %></li>
          </ul>
        </li>
        </ul>

      </section>
    </nav>
  </div>

    <% if flash[:notice] %>
      <div data-alert class="alert-box info">
        <%= flash[:notice] %>
        <a href="#" class="close">&times;</a>
      </div>
    <% elsif flash[:warning] %>
      <div data-alert class="alert-box warning">
        <%= flash[:warning] %>
        <a href="#" class="close">&times;</a>
      </div>
    <% elsif flash[:success] %>
      <div data-alert class="alert-box success">
        <%= flash[:success] %>
        <a href="#" class="close">&times;</a>
      </div>
    <% end %>

    <div class="row">
      <div class="small-12 columns">
        <main>

          <%= yield %>
          
        </main>
      </div>
    </div>

    <%= javascript_include_tag "application" %>
  </body>
</html>